<% include ../mixins/head.ejs %>
    <title>About us - CycLove</title>
</head>
<body>
    <h1>Cyclove is a dating app for cyclists</h1>
    <p>Here is some content about us</p>
    <a href="/">Back to home</a>
</body>
</html>