<footer>
    <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
    <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
</footer>
<script src="/static/scripts/main.js"></script>