/* Font imports */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: 600;
}

/* Generic styling */
body {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #26343B;
}

h1, h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

h1 {
    font-size: 2.488em;
}

h2 {
    font-size: 1.728em;
}

h3 {
    font-size: 1.2em;
}

.btn, form button {
    font-size: .8em;
    border: 1px solid #26343B;
    padding: 1em, 1.5em;
}