<% include partials/head.ejs %>
    <title>Add a post - CycLove</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="" alt="Logo CycLove"></a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>How was your last cycling route?</h1>
        <% include partials/form.ejs %>
    </main>
    <% include partials/footer.ejs %>
</body>
</html>