<% include partials/head.ejs %>
    <title><%= post.title %> - CycLove</title>
</head>
<body>
    <section>
        <h1><%= post.title %></h1>
        <p><%= post.contents %></p>
    </section>
    <a href="/">Back to home</a>
</body>
</html>