<% include partials/head.ejs %>
    <title>My feed - CycLove</title>
</head>
<body>
    <section>
        <h1>See what others are doing</h1>
        <p>Expand your cycling friends</p>
    </section>
    <section>
        <h2>Your feed:</h2>
        <% include partials/posts.ejs %>
    </section>
</body>
</html>