<% include partials/head.ejs %>
    <title>Home - CycLove</title>
</head>
<body>
    <h1>Hello World</h1>
    <p>Welcome to my dating app</p>

    <h2>Your feed:</h2>
    <% include partials/posts.ejs %>
</body>
</html>