<% include partials/head.ejs %>
    <title>My feed - CycLove</title>
</head>
<body>
    <h1>Kris's feed</h1>
    <p>Where your cycling world becomes bigger</p>

    <h2>Your feed:</h2>
    <% include partials/posts.ejs %>
</body>
</html>